@model Student
@{
    ViewData["Title"] = "Öğrenci Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @ViewData["Title"]
        <form class="form-inline" method="post" asp-controller="Student" asp-action="Index" name="">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Öğretmen Adı</label>
                <input class="form-control" asp-for="NameSurname" type="text" />
            </div>
            <div class="form-group">
                <label>Ülkesi</label>
                <input class="form-control" asp-for="Birthdate" type="date" />
            </div>
            <div class="form-group">
                <label>Adresi</label>
                <input class="form-control" asp-for="Address" type="text" />
            </div>
            <div class="form-group">
                <label>Ders Seçin</label>
                <select class="form-control m-bot15" name="LessonId">
                    <option>--Bir Ders Seçin</option>
                    @foreach (var item in ViewBag.Lessons)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Ders Seçin</label>
                <select class="form-control m-bot15" name="TeacherId">
                    <option>--Bir Öğretmen Seçin</option>
                    @foreach (var item in ViewBag.Teachers)
                    {
                        <option value="@item.Id">@item.NameSurname</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Öğrenciyi Güncelle</button>
                <a asp-controller="Student" asp-action="Index" class="btn btn-warning">İptal Et</a>
            </div>
        </form>
    </div>
</div>